@import '~tachyons-sass/tachyons.scss';

body {
  background-color: #222;
  color: #fff;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background: linear-gradient(0deg, rgb(41, 35, 34), #130000), url("https://www.transparenttextures.com/patterns/fake-brick.png");

}

.mt5rem {
  margin-top: 5rem;
}
.mt6rem {
  margin-top: 6rem;
}

.primary-text {
  color: #ce333a;
}

.fit-cover {
  object-fit: cover;
}

.grayscale-img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
