@import '~tachyons-sass/tachyons.scss';

body {
  background-color: #222;
  color: #fff;
  font-family: "Roboto", serif;
}

.fit-cover {
  object-fit: cover;
}

.grayscale-img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}
